.Header {
    background: rgba(185, 185, 185, 0.25);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3cm;
}

.HeaderGroup {
    display: flex;
    align-items: center;
}

.HeaderElement {
    display: flex;
    align-items: center;
    padding-left: 0.6cm;
    padding-right: 0.6cm;
}

.MainTime {
    font-size: 1.3cm;
    font-weight: 999;
}
