.Header {
    background: rgba(185, 185, 185, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderGroup {
    display: flex;
    align-items: center;
}


.HeaderElement {
    display: flex;
    align-items: center;
    padding-left: 1cm;
    padding-right: 1cm;
}

.MainTime {
    font-size: 1.3cm;
    font-weight: bolder;
}