.TabPage {
    margin-left: 3cm;
    margin-right: 1cm;
}

.blocked {
    opacity: 0.5;
    pointer-events: none;
}

.css-view-175oi2r .r-flexDirection-18u37iz{
    margin-top: 5px;
    margin-bottom: 5px;
}
