.CloseHiding {
    position: fixed;
    background-color: #ffffff00;
    border-width: 0;
    z-index: 50;
    left: 96.5%;
    top: 0.9%;
}

.voip-card {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 50;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;

    background-color: white;
    color: #272727;
    padding: 20px;
    border-radius: 10px;
    border: 0px;
    border-color: tomato;
    border-style: solid;
    transition: 200ms;
}

.card-content {
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.progress {
    // transform: scale(3);
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

.controllers {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
