.row {
    margin-top: 1cm;
}


section {
    padding-top: 20px;
}

.btn-custom {
    padding: 25px;
    font-size: 15pt;
    height: 30vh;
    width: 25vw;

    border-radius: 20px;
}

li {
    list-style-type: none;
}


.nav-item dropdown

.h1, h1 {
    font-size: calc(3rem + 3vw);
    margin-left: 50%;
}

.container-fluid {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.navbar-toggler {
    margin-right: 0.5cm;
}

.dropdown-menu-end[data-bs-popper] {
    right: 0.4cm;
    left: auto;
}

/*
.btn-container .row {
    height: 5pt;
}
*/