section {
    padding-top: 20px;
}

.btn-custom {
    padding: 25px;
    font-size: 15pt;
    height: 25vh;
    width: 25vw;

    border-radius: 10%;
}

.row {
    margin-top: 20px;
}

.h1, h1 {
    font-size: calc(3rem + 3vw);
}


/*
.btn-container .row {
    height: 5pt;
}
*/