.HidingAll {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.55;
    z-index: 49;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.HidingPage {
    position: fixed;
    width: 50%;
    height: 50%;
    background: #0000007c;
    z-index: 49;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
