#examples {
    margin: 20px;
}

.ant-switch.ant-switch-checked {
    background-color: #a7dff0 !important;
}

.MySwitch {
    transform: scale(1.5);
}

.react-switch {
    vertical-align: middle;
    margin-left: 4px;
}

pre {
    padding: 0 10px;
    background: #eee;
}
