@font-face {
  font-family: montserratAlternates;
  src: url(../public/fonts/MontserratAlternates-Regular.woff) format('woff'); 
}

body {
  margin: 0;
  font-family: montserratAlternates;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
